<div class="fallout-maw-global-map-form">
  <div class="form-group"><label>Название</label><div class="form-fields"><input type="text" name="transition.name" value="{{transition.name}}" required></div></div>
  <div class="form-group"><label>Цвет</label><div class="form-fields"><input type="color" name="transition.color" value="{{transition.color}}"></div></div>
  <div class="form-group"><label>Радиус кисти</label><div class="form-fields"><input type="number" name="transition.brushRadius" value="{{transition.brushRadius}}" min="1" max="12"></div></div>
  <div class="form-group">
    <label>Скрыть от игроков</label>
    <div class="form-fields">
      <input type="hidden" name="transition.hidden" value="false">
      <input type="checkbox" name="transition.hidden" value="true" {{checked transition.hidden}}>
    </div>
    <p class="hint">Скрытый переход не отображается игрокам и не срабатывает.</p>
  </div>
  <div class="form-group">
    <label>Целевая сцена</label>
    <div class="form-fields">
      <input type="hidden" name="transition.targetSceneId" value="{{transition.targetSceneId}}">
      <div class="fallout-maw-global-map-dropzone {{#if targetSceneName}}has-scene{{/if}}" data-global-map-transition-scene-drop>
        <i class="fa-solid fa-arrow-down-to-bracket"></i>
        <span data-global-map-transition-scene-name>
          {{#if targetSceneName}}{{targetSceneName}}{{else}}Перетащите сюда сцену из правой панели{{/if}}
        </span>
      </div>
    </div>
    <p class="hint">Перетащите сцену из списка сцен, чтобы назначить её целью перехода.</p>
  </div>
  <div class="hint">
    <div>ЛКМ добавляет клетки.</div>
    <div>Shift+ЛКМ удаляет клетки.</div>
    <div>Ctrl+ЛКМ перезаписывает клетки других переходов.</div>
    <div>Область входа на целевой сцене можно задать инструментом «Вход».</div>
  </div>
  <footer class="form-footer">
    <button type="submit"><i class="fa-solid fa-floppy-disk"></i> Сохранить</button>
    {{#if canDelete}}<button type="button" data-action="delete" class="danger"><i class="fa-solid fa-trash"></i> Удалить</button>{{/if}}
  </footer>
</div>
