<section class="tab {{tabs.details.cssClass}}" data-group="{{tabs.details.group}}" data-tab="{{tabs.details.id}}">
  <section class="fallout-maw-panel">
    <h2>{{localize "FALLOUTMAW.Actor.Progression"}}</h2>
    <div class="fallout-maw-list-grid two-columns">
      <label>
        <span>{{localize "FALLOUTMAW.Actor.SkillPointsPerLevel"}}</span>
        <input type="number" name="system.progression.skillPointsPerLevel" value="{{system.progression.skillPointsPerLevel}}" {{editLockAttribute}}>
      </label>
      <label>
        <span>{{localize "FALLOUTMAW.Actor.ResearchPointsPerLevel"}}</span>
        <input type="number" name="system.progression.researchPointsPerLevel" value="{{system.progression.researchPointsPerLevel}}" {{editLockAttribute}}>
      </label>
    </div>
  </section>

  <section class="fallout-maw-panel">
    <h2>{{localize "FALLOUTMAW.Common.Description"}}</h2>
    {{editor system.description target="system.description" button=true owner=owner editable=editable}}
  </section>
</section>
