<section class="tab {{tabs.inventory.cssClass}}" data-group="{{tabs.inventory.group}}" data-tab="{{tabs.inventory.id}}">
  <section class="fallout-maw-panel">
    <h2>{{localize "FALLOUTMAW.Common.Load"}}</h2>
    <div class="fallout-maw-summary-grid">
      <div class="fallout-maw-inline-stat">
        <span>{{localize "FALLOUTMAW.Common.Load"}}:</span>
        <strong>{{load.value}} / {{load.max}} {{localize "FALLOUTMAW.Common.Kg"}}</strong>
      </div>
    </div>
  </section>
</section>
