<nav class="sheet-tabs tabs" data-group="primary">
  <a class="item {{tabs.inventory.cssClass}}" data-action="tab" data-group="{{tabs.inventory.group}}" data-tab="{{tabs.inventory.id}}">{{localize "FALLOUTMAW.Tabs.InventoryEquipment"}}</a>
  <a class="item {{tabs.indicators.cssClass}}" data-action="tab" data-group="{{tabs.indicators.group}}" data-tab="{{tabs.indicators.id}}">{{localize "FALLOUTMAW.Tabs.Indicators"}}</a>
  <a class="item {{tabs.identity.cssClass}}" data-action="tab" data-group="{{tabs.identity.group}}" data-tab="{{tabs.identity.id}}">{{localize "FALLOUTMAW.Tabs.IdentityData"}}</a>
  <a class="item {{tabs.research.cssClass}}" data-action="tab" data-group="{{tabs.research.group}}" data-tab="{{tabs.research.id}}">{{localize "FALLOUTMAW.Tabs.Research"}}</a>
  <a class="item {{tabs.effects.cssClass}}" data-action="tab" data-group="{{tabs.effects.group}}" data-tab="{{tabs.effects.id}}">{{localize "FALLOUTMAW.Tabs.Effects"}}</a>
</nav>
