<form class="fallout-maw create-dialog" autocomplete="off">
  <div class="form-group">
    <label>{{localize "DOCUMENT.FIELDS.name.label"}}</label>
    <input type="text" name="name" value="{{name}}" autofocus>
  </div>

  {{#if hasTypes}}
  <div class="form-group">
    <label>{{localize "DOCUMENT.FIELDS.type.label"}}</label>
    <select name="type">
      {{selectOptions types selected=type}}
    </select>
    {{#if typeHint}}<p class="hint">{{typeHint}}</p>{{/if}}
  </div>
  {{/if}}

  {{#if hasFolders}}
  <div class="form-group">
    <label>{{localize "DOCUMENT.FIELDS.folder.label"}}</label>
    <select name="folder">
      {{selectOptions folders selected=folder blank="" valueAttr="id" labelAttr="name"}}
    </select>
  </div>
  {{/if}}

  <fieldset class="fallout-maw-fieldset">
    <legend>{{localize "FALLOUTMAW.Creation.Base"}}</legend>

    <div class="form-group">
      <label>{{localize "FALLOUTMAW.Actor.CreatureType"}}</label>
      <select name="system.creature.typeId" data-creature-type-select>
        <option value="">{{localize "FALLOUTMAW.Actor.NoCreatureType"}}</option>
        {{#each creatureTypes}}
        <option value="{{value}}">{{label}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label>{{localize "FALLOUTMAW.Actor.Race"}}</label>
      <select name="system.creature.raceId" data-creature-race-select>
        <option value="">{{localize "FALLOUTMAW.Actor.NoRace"}}</option>
        {{#each creatureRaces}}
        <option value="{{id}}" data-type-id="{{typeId}}" {{#if selected}}selected{{/if}}>{{name}}</option>
        {{/each}}
      </select>
      <p class="hint">{{localize "FALLOUTMAW.Creation.RaceFilterHint"}}</p>
    </div>
  </fieldset>

  {{{content}}}
</form>
