<section class="fallout-maw-combat-end-panel">
  <ol class="fallout-maw-combat-end-list">
    {{#each entries}}
    <li class="fallout-maw-combat-end-entry {{#if pendingFinish}}is-finishing{{/if}}" data-combat-end-entry-id="{{id}}">
      <div class="fallout-maw-combat-end-cell fallout-maw-combat-end-portrait-cell">
        <img class="fallout-maw-combat-end-portrait" src="{{img}}" alt="">
      </div>
      <div class="fallout-maw-combat-end-cell fallout-maw-combat-end-action-cell">
        <button type="button" class="fallout-maw-combat-end-action" data-action="search" title="{{searchTitle}}" aria-label="Обыскать" {{#if searchDisabled}}disabled{{/if}}>
          <span class="fallout-maw-combat-end-action-icon">
            <img src="{{../actionIcons.search}}" alt="">
          </span>
        </button>
      </div>
      <div class="fallout-maw-combat-end-cell fallout-maw-combat-end-action-cell">
        {{#if showFinish}}
        <button type="button" class="fallout-maw-combat-end-action danger" data-action="finish" title="{{finishTitle}}" aria-label="Добить" {{#if finishDisabled}}disabled{{/if}}>
          <span class="fallout-maw-combat-end-action-icon">
            <img src="{{../actionIcons.finish}}" alt="">
          </span>
        </button>
        {{/if}}
      </div>
    </li>
    {{/each}}
  </ol>
  <footer class="form-footer">
    <button type="button" data-action="dismiss">
      <i class="fa-solid fa-check" inert></i>
      <span>Завершить</span>
    </button>
  </footer>
</section>
