<div class="fallout-maw-config-body">
  <section class="fallout-maw-panel">
    <header class="fallout-maw-panel-header">
      <h2>Способности/Особенности</h2>
      <div class="fallout-maw-button-row">
        <button type="button" data-action="addCategory"><i class="fa-solid fa-plus"></i> Добавить каталог</button>
        <button type="button" data-action="resetDefaults"><i class="fa-solid fa-rotate-left"></i> {{localize "FALLOUTMAW.Common.ResetDefaults"}}</button>
      </div>
    </header>

    <div class="fallout-maw-ability-category-list">
      {{#each catalog.categories}}
      <div class="fallout-maw-ability-category-shell" data-ability-category-row data-category-id="{{id}}">
        <button type="button" class="fallout-maw-icon-button fallout-maw-drag-handle fallout-maw-ability-category-drag" data-drag-handle title="Сортировать">
          <i class="fa-solid fa-grip-vertical"></i>
        </button>
      <article class="fallout-maw-panel fallout-maw-ability-category {{collapse.cssClass}}">
        <header class="fallout-maw-ability-category-header">
          <button type="button" class="fallout-maw-icon-button" data-action="toggleCategory" aria-expanded="{{collapse.ariaExpanded}}" title="Свернуть/развернуть каталог">
            <i class="fa-solid {{collapse.iconClass}}"></i>
          </button>
          <label class="fallout-maw-ability-category-name">
            <input type="text" data-field="categoryName" value="{{name}}" {{#if locked}}disabled{{/if}}>
          </label>
          <button type="button" data-action="addAbility"><i class="fa-solid fa-plus"></i> {{createLabel}}</button>
          <button type="button" class="fallout-maw-icon-button" data-action="deleteCategory" {{#unless deletable}}disabled{{/unless}}>
            <i class="fa-solid fa-trash"></i>
          </button>
        </header>

        <div class="fallout-maw-ability-compact-list" data-ability-category-collapse-body>
          {{#each abilities}}
          <div class="fallout-maw-ability-compact-row{{#if isFeature}} feature{{/if}}{{#unless visible}} hidden-from-advancement{{/unless}}" data-ability-row data-ability-id="{{id}}">
            <img src="{{img}}" alt="" width="34" height="34">
            <input type="hidden" data-field="abilityImg" value="{{img}}">
            <input type="hidden" data-field="abilityVisible" value="{{#if visible}}true{{else}}false{{/if}}">
            <label>
              <span>Название</span>
              <input type="text" data-field="abilityName" value="{{name}}">
            </label>
            <button type="button" class="fallout-maw-icon-button" data-action="moveAbility" title="Переместить в другой каталог">
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </button>
            <button type="button" class="fallout-maw-icon-button fallout-maw-ability-visibility-button" data-action="toggleAbilityVisibility" title="{{visibilityTitle}}">
              <i class="fa-solid {{visibilityIconClass}}"></i>
            </button>
            <button type="button" class="fallout-maw-icon-button" data-action="editAbility" title="Редактировать способность">
              <i class="fa-solid fa-pen"></i>
            </button>
            <button type="button" class="fallout-maw-icon-button" data-action="deleteAbility" title="Удалить способность">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
          {{else}}
          <p class="fallout-maw-empty-list">{{emptyLabel}}</p>
          {{/each}}
        </div>
      </article>
      </div>
      {{/each}}
    </div>
  </section>

  <footer class="sheet-footer flexrow">
    <button type="submit"><i class="fa-solid fa-save"></i> {{localize "FALLOUTMAW.Common.SaveChanges"}}</button>
  </footer>
</div>
