<form class="fallout-maw-formula-config" autocomplete="off">
  <section class="fallout-maw-panel">
    <header class="fallout-maw-panel-header">
      <h2>{{localize "FALLOUTMAW.Settings.ActionMovement.ShortTitle"}}</h2>
      <button type="button" data-action="reset-defaults">
        <i class="fa-solid fa-rotate-left"></i>
        {{localize "FALLOUTMAW.Common.ResetDefaults"}}
      </button>
    </header>
    <div class="fallout-maw-formula-grid single">
      <label>
        <span>{{localize "FALLOUTMAW.Settings.ActionMovement.ActionPointsFormula"}}</span>
        <input type="text" name="formulas.actionPoints" value="{{formulas.actionPoints}}" data-formula-autocomplete="all">
      </label>
      <label>
        <span>{{localize "FALLOUTMAW.Settings.ActionMovement.MovementPointsFormula"}}</span>
        <input type="text" name="formulas.movementPoints" value="{{formulas.movementPoints}}" data-formula-autocomplete="all">
      </label>
    </div>
  </section>

  <footer class="sheet-footer flexrow">
    <button type="submit">
      <i class="fa-solid fa-floppy-disk"></i>
      {{localize "FALLOUTMAW.Common.SaveChanges"}}
    </button>
  </footer>
</form>
