<div class="fallout-maw-config-body fallout-maw-token-action-hud-config">
  <section class="fallout-maw-panel">
    <header class="fallout-maw-panel-header">
      <h2>{{localize "FALLOUTMAW.Settings.HUD.Title"}}</h2>
    </header>

    <div class="fallout-maw-list-grid one-column">
      <label>
        <span>Путь изображения снижения урона</span>
        <div class="fallout-maw-inline-controls">
          <input type="text" name="damageReductionIcon" value="{{damageReductionIcon}}">
          <button type="button" data-action="browseDamageReductionImage" title="{{localize 'FALLOUTMAW.Common.Image'}}"><i class="fa-solid fa-image"></i></button>
        </div>
      </label>
      <label>
        <span>Путь изображения полного блокирования урона</span>
        <div class="fallout-maw-inline-controls">
          <input type="text" name="damageBlockedIcon" value="{{damageBlockedIcon}}">
          <button type="button" data-action="browseDamageBlockedImage" title="{{localize 'FALLOUTMAW.Common.Image'}}"><i class="fa-solid fa-image"></i></button>
        </div>
      </label>
    </div>
  </section>

  <footer class="sheet-footer flexrow">
    <button type="submit"><i class="fa-solid fa-save"></i> {{localize "FALLOUTMAW.Common.SaveChanges"}}</button>
  </footer>
</div>
